@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#header2-p H1 {
  color: #000000;
}
#header2-p P {
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 12px;
}
#header2-p .btn {
  font-size: 12px;
}
#header2-p SPAN {
  text-align: left;
  font-size: 30px;
}


#header2-4 H1 {
  color: #ff67c2;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}
#header2-4 .btn {
  font-size: 9px;
}
#header2-4 SPAN {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #000000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}



#header2-20 P {
  font-size: 12px;
  text-align: left;
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header2-20 H1 {
  font-size: 46px;
  text-align: left;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#header2-20 .btn {
  font-size: 9px;
  font-family: 'Roboto', sans-serif;
}
#header2-20 SPAN {
  color: #000000;
  font-size: 30px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#header3-q H3 {
  text-align: center;
  color: #000000;
  font-size: 48px;
}
#header3-q SPAN {
  font-size: 30px;
}
#buttons1-36 .btn {
  font-size: 9px;
}
#header3-s H3 {
  text-align: center;
  color: #000000;
  font-size: 48px;
}
#header3-s SPAN {
  font-size: 30px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#header3-t H3 {
  text-align: center;
  color: #000000;
  font-size: 48px;
}
#header3-t SPAN {
  font-size: 30px;
}
#buttons1-37 .btn {
  font-size: 9px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#header3-n H3 {
  text-align: center;
  color: #000000;
  font-size: 48px;
}
#header3-n SPAN {
  font-size: 30px;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-6 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-6 .mbr-navbar__items a {
  font-size: 9px;
}
#buttons1-u .btn {
  font-size: 9px;
}
#header3-36 H3 {
  text-align: center;
  font-size: 36px;
  color: #000000;
}
#header3-36 SPAN {
  font-size: 30px;
  color: #000000;
}
#buttons1-37 .btn {
  font-size: 9px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#header3-m H3 {
  text-align: center;
  color: #000000;
  font-size: 48px;
}
#header3-m SPAN {
  font-size: 30px;
}
#buttons1-34 .btn {
  font-size: 9px;
}
#header3-e H3 {
  text-align: center;
  color: #000000;
  font-size: 48px;
}
#header3-e SPAN {
  font-size: 30px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
#buttons1-35 .btn {
  font-size: 9px;
}

#header1-28 .btn {
  font-size: 9px;
}
#header1-28 H1 {
  font-size: 20px;
}
#header1-28 P {
  font-size: 12px;
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header1-28 SPAN {
  color: #000000;
  font-size: 30px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-size: 9px;
}
